@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  max-width: 1600px;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 445px;
  height: 400px;
}

h3,
h1,
h4,
p {
  font-family: Poppins;
  color: #fafafa;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
}

h4 {
  color: #f9f9f9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: start;
}

.content-right > img {
  max-width: 500px;
}

/* Animações do fantasma */
@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes moveLeftAndRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
}

#ghost1 {
  position: relative;
  animation: moveUpAndDown 2s ease-in-out infinite;
}

#ghost2 {
  position: relative;
  right: 100px;
  animation: moveLeftAndRight 2s ease-in-out infinite;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 4px solid #658e76;
  color: #fafafa;
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: 300;
  /*responsável por inclinar o botão*/
  transform: skew(-24deg);
  max-height: 45px;
}

button:hover {
  cursor: pointer;
  background-color: #658e76;
}

p {
  /*responsável por desinclinar o texto*/
  transform: skew(24deg);
  font-weight: 600;
}

button > img {
  transform: skew(24deg);
}

button > p > img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* For typical mobile devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    max-width: 400px;
    padding: 0 25px 0 25px;
    height: 550px;
  }

  #ghost1 {
    max-width: 200px;
    max-height: 220px;
  }

  #ghost2 {
    right: 30px;
    max-width: 200px;
    max-height: 220px;
  }

  .content-left {
    align-items: flex-start;
  }

  h3 {
    font-size: 18px;
  }

  h1 {
    font-size: 56px;
  }

  h4 {
    font-size: 14px;
  }

  .buttons button:nth-child(2) {
    display: none;
  }
}

/* For mobile (landscap e) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* For tablet */

@media only screen and (min-width: 768px) and (max-width: 979px) {
}

/* For small desktop */

@media only screen and (min-width: 980px) and (max-width: 1023px) {
}

/* For typical desktop */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* For large desktop */

@media only screen and (min-width: 1200px) {
}
