.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  background: linear-gradient(88deg, #574ae8 0%, #3ea1db 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  flex-shrink: 0;
  padding-top: 0;
  transition: ease-in 0.2s;
}

.search-bar {
  width: 100%;
  max-width: 900px;
  transition: ease-in 0.2s;
}

a {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  align-self: flex-start;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 700px;
  }

  .search-bar {
    max-width: 700px;
  }
}

@media (min-width: 482px) and (max-width: 767px) {
  .header {
    max-width: 600px;
  }

  .search-bar {
    max-width: 600px;
  }
}

@media (min-width: 480px) and (max-width: 620px) {
  .header {
    max-width: 500px;
  }

  .search-bar {
    max-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    height: 200px;
  }

  .search-bar {
    max-width: 354px;
  }

  .header {
    max-width: 354px;
  }

  a {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  .header {
    max-width: 300px;
  }

  .search-bar {
    max-width: 300px;
  }
}

@media (min-width: 280px) and (max-width: 359px) {
  .header {
    max-width: 250px;
  }
  .search-bar {
    max-width: 250px;
  }

  a {
    font-size: 20px;
  }
}
