.input-container {
    position: relative; 
    width: 900px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.20);
}

.input-container i {
    position: absolute;
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%);
}

.input-container input {
    color: #F3F5F7;
    position: absolute;
    top: 20%;
    left: 30px;
    padding-left: 30px; 
    width: 90%;
    height: 60%;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.input-container input::placeholder {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}

.input-container input:focus {
    outline: none;
}


@media (min-width: 482px) and (max-width: 767px) { 

}


@media (min-width:320px) and (max-width: 480px){
    .input-container  {
      width: 374px;
      height: 40px;
    }
  
    .input-container i {
        position: absolute;
        left: 15px; 
        top: 50%; 
        transform: translateY(-50%);
    }

    .input-container i > img {
        height: 25px;
        width: 25px;
    }
  }